@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,900&display=swap");

html {
  font-size: 62.5%;
}

.container {
  background-color: #1e3a8a;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textoLogin {
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
}

.formulario {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  gap: 1rem;
}

.formulario input,
.formulario button {
  border: none;
  outline: none;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.formulario input {
  padding: 1rem;
  text-align: left;
  border-radius: 1rem;
}

.formulario button {
  margin-top: 2rem;
  padding: 1rem;
  cursor: pointer;
  background-color: #ef4444;
  border-radius: 1rem;
  color: #fff;
  transition-duration: 0.3s;
}

.formulario button:hover {
  background-color: #f72323;
}

.criarConta {
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 1.2rem;
}
